# Database
POSTGRES_USER=pirate
POSTGRES_PASSWORD=onepiece
POSTGRES_DB=grand_line_explorer
DATABASE_URL=postgresql://pirate:onepiece@localhost:5432/grand_line_explorer

# Server
PORT=3001

# Client
NEXT_PUBLIC_API_URL=http://localhost:3001
