[submodule "client"]
	path = client
	url = https://github.com/Sitthata/grand-line-explorer-client.git
	branch = main
[submodule "server"]
	path = server
	url = https://github.com/Sitthata/grand-line-explorer-server.git
	branch = main
